body {margin:0px;  padding: 0px;   background-image: url("Movie/images/background.png"); background-repeat: repeat; font-size: 8pt; font-family: Verdana, Tahoma, sans-serif; }
.banner{margin: 0px; text-align: center; background-image: url("Movie/images/bannerbg.png"); background-repeat: repeat;}
.banner img{margin-left: auto; margin-right: auto; display:block; }
#overview  {width:800px; border: 4px solid gray; overflow: auto; border-radius: 20px;margin:0px auto 50px auto; }
#overImg {float: right;} 
.goverview {background-color: #a2b964; float: right; overflow: auto; padding:0px 20px 20px 20px; margin-top: 0px; margin-left: 550px; position: relative;}
.goverview dt {font-style: bold; padding-top: 20px; }
.goverview ul {list-style-type:none ;}

.rotten { width:550px; height: 83px; background-image: url("Movie/images/rbg.png"); background-repeat: repeat; font-size: 48pt; color:red; font-weight: bold ;}
.rotten img{ float: left; position: absolute; border-radius: 20px; }
.paging {background-color: #a2b964; margin: 0px; padding:10px;}
h1 {font-size: 24px; text-align: center; font-weight: bold; text-shadow: 3px 3px #999999;}
.footer{ float: right; }
.review  { margin: 2%; border: 2px solid gray; margin-right: 270px; border-radius: 10px; font-size: 8pt; font-weight: bold; padding: 5px; };
.review img{ float: left; }
.reviewer {margin: 10px; margin-bottom: 0px;overflow: hidden;}
.reviewer span {display: block;}
.reviewer img { float: left;}
.publication{font-style: italic;}